mixin {{kebabCase}}(data={})
  .{{kebabCase}}(
    class=data.className,
    class=(data.theme ? `{{kebabCase}}--theme--${data.theme}` : null),
    class=(data.size ? `{{kebabCase}}--size--${data.size}` : null),
    data-role=data.role,
  ) {{kebabCase}}
  