mixin page-header(data={})
  .page-header(
    class=data.className,
    class=(data.theme ? `page-header--theme--${data.theme}` : null),
    class=(data.size ? `page-header--size--${data.size}` : null),
    data-role=data.role,
  ) page-header
  